{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!-- Services-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Quienes somos</h2>
                    <h3 class="section-subheading text-muted"> Somos una Asociación de Desarrollo Integral Rural de Occidente, 
                        que se identifica con las siglas ADIRO. 
                        Una entidad de desarrollo comunitario integral, socio cultural, 
                        educativo no lucrativo, apolitico y no religiosa. </h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x "  style="color: #034d4f"></i>
                            <i class="fas fa-solid fa-umbrella fa-stack-1x fa-inverse"></i>
                           
                        </span>
                        <h4 class="my-3">MISION</h4>
                        <p class="text-muted"style="text-align: justify;">Nuestra misión está orientada a promover el desarrollo integral, a travéz de proyectos 
                            y servicios de salud, educación, crédito, agricultura sostenible, medio ambiental, capacitación, asesoria, 
                            gestión, ejecución y monitoreo de proyectos de todo tipo, para los habitantes de las comunidades de Totonicapán, 
                            respetando las manifestaciones propias y aprovechando los avances tecnológicos.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x " style="color: #025d21"></i>
                            <i class="fas fa-solid fa-gears fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">VISION</h4>
                        <p class="text-muted"style="text-align: justify;">Atender las necesidades de las comunidades más necesitadas en el departamento de Totonicapán 
                            y a nivel nacional, mediante programas y proyectos que respondan a las necesidades, intereses y expectativas 
                            de la población, basada en un sistema de organización participativa y persiguiendo el bien común, 
                            la interculturalidad y equidad de género.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x" style="color: #025d21"></i>
                            <i class="fas fa-solid fa-hand-holding-heart fa-stack-1x fa-inverse"></i>
                            
                        </span>
                        <h4 class="my-3">OBJETIVO</h4>
                        <p class="text-muted"style="text-align: justify;"> Promover el desarrolo integral de las comunidades del departamento 
                            de Totonicapán y regiones circunvecinas por medio de la gestión, apoyo y/o ejecución 
                            de proyectos económicos y productivos. </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">PROYECTOS</h2>
                    <h3 class="section-subheading text-muted">Áreas de Acción</h3>
                </div>
                <style>
                    .img-standard {
                        width: 100%;
                        height: 250px;
                        object-fit: cover;
                        border-radius: 5px;
                    }
                </style>
                <div class="row">
                    
                    {% for categoria, proyectos in proyecto.items %}
                    <h2 style="text-align: center;" > Categoria {{ categoria.nombre }}</h2>
                    {% for i in proyectos %}
                    <div class="col-lg-4 col-sm-6 mb-4">
                        
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-tree fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src=" {{ i.imagen.url }}" class="card-img-top" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                                       
                                <div class="portfolio-caption-heading"> {{ i.nombre }}</div>
                                <div class="portfolio-caption-subheading text-muted">{{ i.descripcion|truncatewords:8 }}</div>
                              
                            
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                  
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-egg fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/15.jpg'   %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Programa de granjas Avícolas familiares</div>
                                <div class="portfolio-caption-subheading text-muted"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 3-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-laptop fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/10.jpg'   %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Programa para la mujer</div>
                                <div class="portfolio-caption-subheading text-muted"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <!-- Portfolio item 4-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-cubes-stacked fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/4.jpg'   %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Programa de Educación</div>
                                <div class="portfolio-caption-subheading text-muted"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <!-- Portfolio item 5-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-water fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/3.jpg'   %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Programa Ambiental</div>
                                <div class="portfolio-caption-subheading text-muted"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- Portfolio item 6-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-vial-virus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/portfolio/7.jpg'   %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Programa de Salud</div>
                                <div class="portfolio-caption-subheading text-muted"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
     
        <!-- About-->
        <section class="page-section" id="history">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Historia</h2>
                    <h3 class="section-subheading text-muted">Fundación hasta la fecha</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src=" {% static 'assets/img/about/11.jpg'%}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Año 2000 - 2018</h4>
                                <h4 class="subheading">Incia ADIRO</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted"style="text-align: justify;">La Asociación ADIRO se constituyó el 28 de mayo del año 2,000 por la iniciativa de un grupo de cuarenta y un personas 
                                entre hombres y mujeres de la Comunidad de Xantún, los fundadores fueron conformados por los representantes de los grupos de base: Comerciantes, Artesanos, 
                                Productores de Cereales y Cultivos de Plantas medicinales para fortalecer la economía comunitaria. </p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/12.jpg'%}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2018 - 2019</h4>
                                <h4 class="subheading">Huertos</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted"style="text-align: justify;">•	En el año 2018 se implementa un huerto grupal con el grupo denominado Las 5 Estrellas como plan 
                                piloto con la ayuda y asesoría de Ministerio de Agricultura y Ganadería y con fondos propios de la asociación.</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/13.jpg'%}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2019 - 2022</h4>
                                <h4 class="subheading"> Proyectos </h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted"style="text-align: justify;">•	En 2019 se construye un macro túnel con el invernadero de tomate con fondos propios de la asociación con asesoría de MAGA esto con el fin de replicarlo con las familias interesadas en invernaderos
                                •	Se forma un segundo grupo de tejido de güipiles típicos de Guatemala del cual ya están vendiendo en el mercado local.
                                •	Se forma 2 grupos que fueron dotadas de 23 gallinas, materiales para galpón e insumos a 45 familias hombres y mujeres cabezas de hogar con la ayuda de Helvetas y la asociación con el fin de comercializarlo y consumo familiar
                                •	En 2019 se continúa con el invernadero de tomate diversificando la producción con chile pimiento, chile jalapeño y tomates tipo roma, se forma un tercer grupo de tejido de güipiles típicos de Guatemala.
                                •	En enero de 2020 se forma un cuarto grupo que se dota de la misma forma 23 gallinas, insumos y materiales para el galpón. En esta etapa se comienza a implementar la captación de la producción agrícola para vender los huevos por caja y por cartón al público en general esto para ayudar a las productoras que no tienen mercado.
                                •	En el año 2022 se forma otro grupo de 40 personas mujeres y jóvenes familias cabeza de hogar para dotarles de 31 gallinas a cada una como parte de la dieta alimenticia muy importante y al mismo tiempo tener su negocio generando ingresos familiares. Este proyecto fue gracias al Rain forest Alliance y la Asociación ADIRO, en todos los proyectos se dotó con insumos y concentrado para las gallinas. </p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/14.jpg'%}" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2023 - actualidad</h4>
                                <h4 class="subheading">Trabajando para el desarrollo</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted"style="text-align: justify;">•	En junio de 2023 se empieza la ejecución del proyecto de “Manejo Integral De Los Recursos Naturales Para La Conservación Y Restauración Como Medidas De Adaptación Al Cambio Climatico En La Aldea Xecaja, Del Municipio De Santa Mária Chiquimula” con el mecanismo de pequeñas donaciones de “Altiplano Resiliente” 
                                •	Actualmente estamos en proyecto para la construcción de un vivero forestal para siembra de árboles de especies de ciprés, pino blanco, aliso, entre otras especies nativas de nuestra comunidad y otras comunidades aledañas para la reforestación de las montañas devastadas causadas por el gorgojo y por los incendios forestales siendo este último el más frecuentes por el cambio climático en nuestro territorio y a nivel mundial. Por ello la asociación está comprometida a conservación de la tierra, bosques y la biodiversidad y claro está sin olvidar el fortalecimiento de los medios de vida de las comunidades para lo cual impulsamos distintos proyectos para mejorar la economía rural. 
                            </p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                SE PARTE
                                <br />
                                DE NUESTRA
                                <br />
                                Historia!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Team-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Acerca de nuestro equipo</h2>
                    <h3 class="section-subheading text-muted">Comprometidos con el desarrollo comunitario</h3>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{% static 'assets/img/team/5.jpeg' %}" alt="..." />
                            <h4>Junta directiva</h4>
                            <p class="text-muted"></p>
                            <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/share/1PR2yqxRrn/" aria-label="Asociación ADIRO Totonicapán Perfil Facebook"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{% static 'assets/img/team/4.jpeg' %}" alt="..." />
                            <h4>Directora Ejecutiva</h4>
                            <p class="text-muted">María Corazón Hernández Ajché</p>
                            <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/share/1PR2yqxRrn/" aria-label="Asociación ADIRO Totonicapán Perfil Facebook"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"></p></div>
                </div>
            </div>
        </section>
        <!-- Clients-->
        <div class="py-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="{% static 'assets/img/logos/google.svg' %}" alt="..." aria-label="Google Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="{% static 'assets/img/logos/facebook.svg' %}" alt="..." aria-label="Facebook Logo" /></a>
                    </div>
                </div>
            </div>  
        </div>  
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contactanos</h2>
                    <h3 class="section-subheading text-muted">Telefonos: +502 4805 2419 - +502 7766 7276 </h3>
                </div>
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- Name input-->
                                <input class="form-control" id="name" type="text" placeholder="Nombres *" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="name:required">El nombre es necesario</div>
                            </div>
                            <div class="form-group">
                                <!-- Email address input-->
                                <input class="form-control" id="email" type="email" placeholder="Correo *" data-sb-validations="required,email" />
                                <div class="invalid-feedback" data-sb-feedback="email:required">Email es requerido</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email no válido</div>
                            </div>
                            <div class="form-group mb-md-0">
                                <!-- Phone number input-->
                                <input class="form-control" id="phone" type="tel" placeholder="Teléfono *" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A numero de teléfono es necesario</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-textarea mb-md-0">
                                <!-- Message input-->
                                <textarea class="form-control" id="message" placeholder="Escribe aquí tu mensaje *" data-sb-validations="required"></textarea>
                                <div class="invalid-feedback" data-sb-feedback="message:required">Es necesario escribir el mensaje</div>
                            </div>
                        </div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center text-white mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Enviar</button></div>
                </form>
            </div>
        </section>

        <!-- Footer-->

        <!-- Footer -->

  <!-- Footer -->
        <!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
       
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
          
            <div class="modal-dialog">
               
                <div class="modal-content">
                   
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    
                    <div class="container">
                        
                        <div class="row justify-content-center">
                           
                            <div class="col-lg-8">
                               
                                <div class="modal-body">
                                    {% for i in proyecto %}
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">{{ i.nombre }}</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="{{ i.imagen.url }}" alt="..." />
                                    <p>{{ i.descripcion }}</p>
                                    <p>{{ i.categoria }}</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Fecha de proyecto:</strong>
                                            Threads
                                        </li>
                                      
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                      
                    </div>
                   
                </div>
             
            </div>
           
        </div>
        
        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Granjas Avícolas Familiares</h2>
                                    <p class="item-intro text-muted"></p>
                                    <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/18.jpg'%}" alt="..." />
                                    <p>Tiene como objetivo la implementación y fortalecimiento de granjas Avícolas 
                                        productivas familiares para la producción de huevos, fortaleciendo la seguridad 
                                        alimentaria y la calidad de vida de las comunidades. </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Cliente:</strong>
                                            Comunitarios y asociados.   
                                        </li>
                                        <li>
                                            <strong>Categoria:</strong>
                                            Granjas Avícolas.
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 3 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Programa para la Mujer</h2>
                                    <p class="item-intro text-muted"></p>
                                    <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/11.jpg'%}" alt="..." />
                                    <p>En este programa se enfoca el esfuerzo por la atención de grupo de mujeres en diferentes
                                        temas como la violencia intrafamiliar, la seguridad alimentaria, artesanías y pequeños
                                        proyectos productivos.</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Cliente:</strong>
                                            Mujeres Asociadas.
                                        </li>
                                        <li>
                                            <strong>Categoria:</strong>
                                            Programa para la mujer.
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 4 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Programa de Educación</h2>
                                    <p class="item-intro text-muted"></p>
                                    <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/12.jpg'%}" alt="..." />
                                    <p>Tiene como objetivo brindar capacitación al personal de la asociación, socios y miembros,
                                        líderes y personas interesadas de los grupos base. Desde temas administrativos hasta
                                        buenas prácticas agrícolas, artesanales y temas sociales.
                                    </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Cliente:</strong>
                                            Comunitarios y asociados.
                                        </li>
                                        <li>
                                            <strong>Categoria:</strong>
                                            Educación.
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 5 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Programa Ambiental</h2>
                                    <p class="item-intro text-muted"></p>
                                    <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/13.jpg'%}" alt="..." />
                                    <p>El programa ambiental tiene como finalidad coayudar en el mejoramiento del medio ambiente, realizando actividades de apoyo
                                        a comunitarios como donación de plantas forestales y frutales, mejora de sistemas agroforestales, entre otros.
                                    </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Cliente:</strong>
                                            Comunitarios y asociados.
                                        </li>
                                        <li>
                                            <strong>Categoria:</strong>
                                            Medio Ambiente.
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 6 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Programa de Salud</h2>
                                    <p class="item-intro text-muted"></p>
                                    <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/portfolio/17.jpg'%}" alt="..." />
                                    <p>La Salud de la comunidad es muy importante para el buen desarrollo social local, por lo que el enfoque es hacia
                                        la salud preventiva, se da énfrasís en el uso de la medicina natural y ancenstral.
                                    </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Cliente:</strong>
                                            Comunitarios y asociados.
                                        </li>
                                        <li>
                                            <strong>Categoria:</strong>
                                            Salud, desarrollo.
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        {% endblock%}
</html>
